[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-parallel = "*"
yapf = "*"
mypy = "*"

[packages]
pampy = "*"
returns = "*"

[requires]
python_version = "3.9"

[scripts]
test = "sh ./sh/test.sh"
